<template>
  <div
    @click="clickCell"
    :class="{
      cell: true,
      cellX: player === 'x',
      cellO: player === 'o',
      grade: grade
    }"
  >
    {{ player }}
  </div>
</template>
<script>
export default {
  props: ['player', 'row', 'col', 'grade'],
  methods: {
    clickCell (event) {
      // console.log(event)
      // console.log('click' + this.row + ' ' + this.col)
      if (this.player !== '-') return
      this.$emit('cell-Click', this.row, this.col)
    }
  }
}
</script>
<style>
.cell {
  font-size: 30pt;
}
.cellX {
  color: blueviolet;
  font-size: 30pt;
}
.cellO {
  color: pink;
  font-size: 30pt;
}
.grade {
  background-color: aquamarine;
}
</style>
